.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1.75rem 0;
  max-width: 1200px;
  margin: auto;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  background-color: transparent;
}

@media only screen and (max-width: 1100px) {
  .breadcrumb {
    padding-left: 1em;
  }
}
