.memebrsCard {
  box-shadow: 3px 3px 3px grey;
}

.memebrsCardImg {
  width: 400px;
  height: 280px;
  background-color: #000;
  padding: 2px;
}

.memebrsCardLink {
  background-color: #fff
}

.memebrsCardLink a {
     text-decoration: none;
}

.memebrsCardLink a h1 {
    color: #000;
    text-align: center;
    padding: .4em
}
